.btn{
    width: 70px;
    height: 70px;
}

.btn1{
    float: left;
}

.btn2{
    float: right;
}

#buttons{
    display: inline-block;
}

#sitebody{
    width:1000px;
    margin:0 auto;
    
}

#center{
    margin-left:120px;
    margin-right:120px;
    height:600px;
    width: 800px;
}

#toolbar{
    position: relative;
    left: 2.65cm;
    bottom: 13cm;
    width:120px;
    height:400px;
    float:right;
}

#buttongroup{
    width:160px;
    height:400px;
    float:left;
    position: relative;
    right: 2.65cm;
    bottom: 13.5cm; 
}

label{
    padding: 10px;
    background:black; 
    display: table;
    color:yellow;
}

input[type="file"]{
    display: none;
}